.header {
    background-color: rgba(0, 27, 56, 0.94);
    color: white;
    padding: 20px;
    font-family: sans-serif;
    margin: auto;
}

.title {
    font-size: 35px;
    margin-bottom: 10px;
    font-weight: bold;
    text-shadow: 0 4px 8px #060507;
}

p {
    font-size: 16px;
    margin-left: 15px;
    color: #b2b2b2;
}